button {
  width: 70px;
  border: 1px solid #4AD825;
  border-radius: 10px;
  background: #4AD825;
  color: black;
}

img {
  margin-left: 25%;
  height: 400px;
}

.first_class {
  background: #AFD5E9;
}

.economic_class {
  background: #9AE587;
}

.economic_class, .first_class {
  display: inline-block;
  padding: 2px 10px;
}

.seats {
  display: inline-block;
  width: 90px;
  height: 100px;
  border: 1px solid black;
}

#tickets {
  font-size: 12px;
}
